* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #EEEEEE;
}

body, p, input, i, b {
    font-family: Roboto, sans-serif;
    font-size: 13pt;
    line-height: 1.15em;
    color: #212121;
}

header, section, footer {
    max-width: 53em;
    margin: 0 auto;
    padding: 0 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

h1, h2, h3 {
    font-weight: bold;
    line-height: 1.5em;
    margin-top: .̀5em;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

header {
    height: 13em;
    overflow: hidden;
}

header .img-container {
    width: 5em;
    height: 5em;
    border-radius: 2.5em;
    overflow: hidden;
    margin: 2.5em auto;
}

header .img-container img {
    width: 100%;
    height: 100%;
}

header h1 {
    text-align: center;
}

section {
    margin-bottom: 1em;
    width: 100%;
    overflow: hidden;
}

section h2 {
    margin-bottom: .5em
}

section li.fa {
    display: block;
}

section li.fa:before {
    display: inline-block;
    width: 3em;
    text-align: center;
}

footer {
    text-align: center;
    font-size: .8em;
    height: 4em;
    color: #919191;
    font-family: monospace;
}

section .ls-icon {
    text-align: center;
    padding: 2em 0;
}

section .ls-icon li {
    display: inline-block;
    width: 8em;
    height: 8em;
    margin: .3em;
    text-align: center;
}

section .ls-icon li:hover a {
    color: #212121;
}

section .ls-icon li a {
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    color: #919191;
    display: inline-block;
    clear: left;
    text-decoration: none;
}

section .ls-icon li label {
    display: none;
    clear: left;
    width: 100%;
    display: inline-block;
    margin: 1em 0;
    padding: .5em;
    border-radius: .2em;
    color: #919191;
}

.thumb-list {
    display: block;
    overflow: hidden;
    padding: 0 2em;
}

.thumb-list .item {
    display: block;
    width: 12em;
    height: 16em;
    overflow: hidden;
    position: relative;
    margin: 1em;
    float: left;
}

.thumb-list .item .img-container {
    width: 100%;
    height: 100%;
}

.thumb-list .item .img-container img {
    width: auto;
    height: 100%;
    left: -50%;
}

.thumb-list .item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 2em;
    line-height: 2em;
    padding: 0 .5em;
    text-align: center;
}
